# Pandas Dataframes

The `pandas.DataFrame` class is used to represent data in a 2D tabular format. It's useful for manipulating data in a spreadsheet or CSV file.

## DataFrames vs. Series

Where a `DataFrame` is a tabular format of representing data, a `Series` is one-dimensional. You can think of a `Series` in many cases as being a single row or single column's worth of data. That is, [a `DataFrame` is a collection of `Series` objects](https://stackoverflow.com/a/26240208/1577649).

In data analysis with `pandas` we're mostly concerned with `DataFrame` objects, but you'll see `Series` objects regularly as you operate on individual rows and columns.

## Loading Data

A CSV file can be imported with the `read_csv()` or `read_excel()` function. Pandas is generally smart enough to figure out what the columns are named and what types they are.

When a `DataFrame` is evaluated, the notebook interface will render it as a nicely formatted table. If a `DataFrame` is printed with the `print()` function, the output will be plaintext representation.

In [56]:
import pandas as pd
import numpy as np

# Read data from a local CSV file into a DataFrame object
df = pd.read_csv('data/weather/nyc.csv')
df

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
0,1,1948-07-01,84,78.0,72,71,65,58,93,65,...,2.0,16,8,NaN,0.00,0.0,Fog,264<br />,New York City (USA),Summer
1,2,1948-07-02,82,72.0,63,62,53,49,76,51,...,10.0,16,10,NaN,0.00,0.0,NaN,315<br />,New York City (USA),Summer
2,3,1948-07-03,78,71.0,64,66,58,53,84,62,...,5.0,14,6,NaN,0.00,0.0,NaN,203<br />,New York City (USA),Summer
3,4,1948-07-04,84,76.0,68,68,63,56,90,67,...,2.0,12,5,NaN,0.00,0.0,Fog,198<br />,New York City (USA),Summer
4,5,1948-07-05,93,82.0,70,74,69,65,93,71,...,3.0,18,8,NaN,0.00,0.0,Fog-Rain-Thunderstorm,218<br />,New York City (USA),Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24555,24623,2015-12-27,63,56.0,48,58,51,37,96,82,...,0.0,23,12,29.0,0.08,8.0,Fog-Rain,283<br />,New York City (USA),Winter
24556,24624,2015-12-28,48,42.0,35,35,25,19,70,57,...,6.0,23,14,37.0,0.05,7.0,Rain-Snow,39<br />,New York City (USA),Winter
24557,24625,2015-12-29,49,42.0,34,46,40,30,93,88,...,1.0,24,12,30.0,0.66,8.0,Rain-Snow,28<br />,New York City (USA),Winter
24558,24626,2015-12-30,51,46.0,41,48,41,37,93,85,...,2.0,22,7,26.0,0.37,8.0,Rain,65<br />,New York City (USA),Winter
24559,24627,2015-12-31,52,48.0,43,46,38,27,93,71,...,5.0,20,12,25.0,0.06,7.0,Rain,317<br />,New York City (USA),Winter

## DataFrame Metadata

The `DataFrame.head()` or `DataFrame.tail()` functions are a good place to start with inspecting data. They will return a new `DataFrame` with just the first or last _n_ rows, respectively. It's useful for getting a feel for the columns and the kind of data you might have in the rest of the `DataFrame` object.

With `DataFrame.tail()`, if your data is already sorted by a field, such as the date, you can get an idea of when it ends.

In [2]:
df.head(n=4)

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
0,1,1948-07-01,84,78.0,72,71,65,58,93,65,...,2.0,16,8,NaN,0.00,0.0,Fog,264<br />,New York City (USA),Summer
1,2,1948-07-02,82,72.0,63,62,53,49,76,51,...,10.0,16,10,NaN,0.00,0.0,NaN,315<br />,New York City (USA),Summer
2,3,1948-07-03,78,71.0,64,66,58,53,84,62,...,5.0,14,6,NaN,0.00,0.0,NaN,203<br />,New York City (USA),Summer
3,4,1948-07-04,84,76.0,68,68,63,56,90,67,...,2.0,12,5,NaN,0.00,0.0,Fog,198<br />,New York City (USA),Summer

In [3]:
df.tail(n=3)

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
24557,24625,2015-12-29,49,42.0,34,46,40,30,93,88,...,1.0,24,12,30.0,0.66,8.0,Rain-Snow,28<br />,New York City (USA),Winter
24558,24626,2015-12-30,51,46.0,41,48,41,37,93,85,...,2.0,22,7,26.0,0.37,8.0,Rain,65<br />,New York City (USA),Winter
24559,24627,2015-12-31,52,48.0,43,46,38,27,93,71,...,5.0,20,12,25.0,0.06,7.0,Rain,317<br />,New York City (USA),Winter

The `DataFrame.shape` and `DataFrame.size` properties can be used to figure out how many elements there are in the `DataFrame` object. These are fields on the object, _not_ methods. Note the lack of parentheses. 

`shape` returns a tuple of the dimensions (i.e., the rows and columns).

`size` return the total number of elements (i.e., rows x columns).

In [4]:
print(df.shape)
print(df.size)

# To show that the size is the product of the dimensions
print(np.prod(df.shape))

(24560, 26)
638560
638560

Even more detailed information is available from the `DataFrame.info()` function. This function gives a summary with information like the shape, the column names and types data in the object.


The amount of data in the `DataFrame` can [affect what data is displayed](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html), such as whether the non-null counts are shown.

There are also basic properties like `DataFrame.index` and `DataFrame.columns` to view row and column labels, respectively.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24560 entries, 0 to 24559
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 24560 non-null  int64
 1   Date                       24560 non-null  object
 2   Max.TemperatureF           24560 non-null  int64
 3   Mean.TemperatureF          24558 non-null  float64
 4   Min.TemperatureF           24560 non-null  int64
 5   Max.Dew.PointF             24560 non-null  int64
 6   MeanDew.PointF             24560 non-null  int64
 7   Min.DewpointF              24560 non-null  int64
 8   Max.Humidity               24560 non-null  int64
 9   Mean.Humidity              24560 non-null  int64
 10  Min.Humidity               24560 non-null  int64
 11  Max.Sea.Level.PressureIn   24560 non-null  float64
 12  Mean.Sea.Level.PressureIn  24560 non-null  float64
 13  Min.Sea.Level.PressureIn   24560 non-null  float64
 14  Max.VisibilityMiles        24545 non-null  float64
 15  Mean.VisibilityMiles       24545 non-null  float64
 16  Min.VisibilityMiles        24545 non-null  float64
 17  Max.Wind.SpeedMPH          24560 non-null  int64
 18  Mean.Wind.SpeedMPH         24560 non-null  int64
 19  Max.Gust.SpeedMPH          9022 non-null   float64
 20  PrecipitationIn            24560 non-null  object
 21  CloudCover                 21779 non-null  float64
 22  Events                     11721 non-null  object
 23  WindDirDegrees.br...       24560 non-null  object
 24  city                       24560 non-null  object
 25  season                     24560 non-null  object
dtypes: float64(9), int64(11), object(6)
memory usage: 4.9+ MB

You can use `DataFrame.dtypes` to see the types of each of the columns. Where the values are mixed types or Strings, the reported type will be `object`. 

Using this information, the method `DataFrame.select_dtypes()` can be used to return a new `DataFrame` that has only certain columns you choose to `include` or `exclude`.

In [6]:
df.dtypes

Unnamed: 0                     int64
Date                          object
Max.TemperatureF               int64
Mean.TemperatureF            float64
Min.TemperatureF               int64
Max.Dew.PointF                 int64
MeanDew.PointF                 int64
Min.DewpointF                  int64
Max.Humidity                   int64
Mean.Humidity                  int64
Min.Humidity                   int64
Max.Sea.Level.PressureIn     float64
Mean.Sea.Level.PressureIn    float64
Min.Sea.Level.PressureIn     float64
Max.VisibilityMiles          float64
Mean.VisibilityMiles         float64
Min.VisibilityMiles          float64
Max.Wind.SpeedMPH              int64
Mean.Wind.SpeedMPH             int64
Max.Gust.SpeedMPH            float64
PrecipitationIn               object
CloudCover                   float64
Events                        object
WindDirDegrees.br...          object
city                          object
season                        object
dtype: object

In [7]:
# A new DataFrame with only string columns
# Since select_dtypes() returns a new DataFrame, you can chain on a call to head()
df.select_dtypes(include=['object']).head(n=5)

,Date,PrecipitationIn,Events,WindDirDegrees.br...,city,season
0,1948-07-01,0.00,Fog,264<br />,New York City (USA),Summer
1,1948-07-02,0.00,NaN,315<br />,New York City (USA),Summer
2,1948-07-03,0.00,NaN,203<br />,New York City (USA),Summer
3,1948-07-04,0.00,Fog,198<br />,New York City (USA),Summer
4,1948-07-05,0.00,Fog-Rain-Thunderstorm,218<br />,New York City (USA),Summer

The `DataFrame.axes` property has a two element list, with the labels of the axes. In other words, the first list element is the labels of the rows, the second is labels of the columns.

In [8]:
df.axes

[RangeIndex(start=0, stop=24560, step=1),
 Index(['Unnamed: 0', 'Date', 'Max.TemperatureF', 'Mean.TemperatureF',
        'Min.TemperatureF', 'Max.Dew.PointF', 'MeanDew.PointF', 'Min.DewpointF',
        'Max.Humidity', 'Mean.Humidity', 'Min.Humidity',
        'Max.Sea.Level.PressureIn', 'Mean.Sea.Level.PressureIn',
        'Min.Sea.Level.PressureIn', 'Max.VisibilityMiles',
        'Mean.VisibilityMiles', 'Min.VisibilityMiles', 'Max.Wind.SpeedMPH',
        'Mean.Wind.SpeedMPH', 'Max.Gust.SpeedMPH', 'PrecipitationIn',
        'CloudCover', 'Events', 'WindDirDegrees.br...', 'city', 'season'],
       dtype='object')]

The `DataFrame.empty` property lets you know if it is empty (either axes is 0 elements long).

In [9]:
# DataFrame can be initialized from a list, even an empty one
emptyDf = pd.DataFrame([])

print("Our weather data is empty:", df.empty)
print("Our empty DataFrame is empty:", emptyDf.empty)

Our weather data is empty: False
Our empty DataFrame is empty: True

# Accessing Data

The `DataFrame.loc` property provides a `[]` interface to slice out data.

The first value is a row specifier, followed by a comma specifier. The specifiers can be individual numbers and labels or ranges. When using a range, unlike everywhere else, the end of the range is _inclusive_.

Additionally, it is possible to specify a _boolean_ condition, that will only return rows that match. When using multiple boolean conditions, _each_ condition must be surrounded by parentheses.

In [10]:
# The third row, as a Series
df.loc[2]

Unnamed: 0                                     3
Date                                  1948-07-03
Max.TemperatureF                              78
Mean.TemperatureF                           71.0
Min.TemperatureF                              64
Max.Dew.PointF                                66
MeanDew.PointF                                58
Min.DewpointF                                 53
Max.Humidity                                  84
Mean.Humidity                                 62
Min.Humidity                                  42
Max.Sea.Level.PressureIn                   30.17
Mean.Sea.Level.PressureIn                  30.12
Min.Sea.Level.PressureIn                   30.04
Max.VisibilityMiles                         15.0
Mean.VisibilityMiles                        10.0
Min.VisibilityMiles                          5.0
Max.Wind.SpeedMPH                             14
Mean.Wind.SpeedMPH                             6
Max.Gust.SpeedMPH                            NaN
PrecipitationIn                             0.00
CloudCover                                   0.0
Events                                       NaN
WindDirDegrees.br...                   203<br />
city                         New York City (USA)
season                                    Summer
Name: 2, dtype: object

In [11]:
# The first six rows, as a DataFrame
df.loc[0:5]

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
0,1,1948-07-01,84,78.0,72,71,65,58,93,65,...,2.0,16,8,NaN,0.00,0.0,Fog,264<br />,New York City (USA),Summer
1,2,1948-07-02,82,72.0,63,62,53,49,76,51,...,10.0,16,10,NaN,0.00,0.0,NaN,315<br />,New York City (USA),Summer
2,3,1948-07-03,78,71.0,64,66,58,53,84,62,...,5.0,14,6,NaN,0.00,0.0,NaN,203<br />,New York City (USA),Summer
3,4,1948-07-04,84,76.0,68,68,63,56,90,67,...,2.0,12,5,NaN,0.00,0.0,Fog,198<br />,New York City (USA),Summer
4,5,1948-07-05,93,82.0,70,74,69,65,93,71,...,3.0,18,8,NaN,0.00,0.0,Fog-Rain-Thunderstorm,218<br />,New York City (USA),Summer
5,6,1948-07-06,91,82.0,72,71,68,64,91,75,...,2.0,28,10,NaN,0.00,0.0,Rain-Thunderstorm,244<br />,New York City (USA),Summer

In [12]:
# Only a subset of columns, as a range
df.loc[0:5, 'Date':'Min.TemperatureF']

         Date  Max.TemperatureF  Mean.TemperatureF  Min.TemperatureF
0  1948-07-01                84               78.0                72
1  1948-07-02                82               72.0                63
2  1948-07-03                78               71.0                64
3  1948-07-04                84               76.0                68
4  1948-07-05                93               82.0                70
5  1948-07-06                91               82.0                72

In [13]:
# Rows where the maximum temperature was greater than 100 
# and the minimum temperature was less than 90
df.loc[(df['Max.TemperatureF'] > 100) & (df['Min.TemperatureF'] < 80)]

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
22553,22616,2010-07-04,101,85.0,69,63,56,45,78,47,...,10.0,21,10,26.0,0.00,2.0,NaN,249<br />,New York City (USA),Summer
22555,22618,2010-07-06,101,88.0,75,70,67,64,74,54,...,9.0,16,7,20.0,0.00,1.0,NaN,178<br />,New York City (USA),Summer
22936,23000,2011-07-22,103,90.0,76,76,74,71,85,63,...,5.0,20,8,25.0,0.00,2.0,NaN,219<br />,New York City (USA),Summer
22937,23001,2011-07-23,102,91.0,79,75,68,61,85,57,...,5.0,21,8,26.0,0.00,5.0,NaN,258<br />,New York City (USA),Summer

## Statistics

The `DataFrame.max()` function returns a `Series` (usually) with the maximum values along a given axis. There are also `DataFrame.min()`, `DataFrame.mean()`, `DataFrame.median()` and `DataFrame.mode()` that all behave similarly for their respective mathematical functions.

Typically you want to run this with `axis=0`, as that will go down each column and get the maximum value per column. When your columns contain hetergenous data fields, it doesn't make much sense to use `axis=1`, because that will get the maximum value across a row -- probably a nonsensical statistic.

In [14]:
df.max(axis=0, numeric_only=True)

Unnamed: 0                   24627.00
Max.TemperatureF               103.00
Mean.TemperatureF               92.00
Min.TemperatureF                82.00
Max.Dew.PointF                  81.00
MeanDew.PointF                  77.00
Min.DewpointF                   75.00
Max.Humidity                   100.00
Mean.Humidity                  100.00
Min.Humidity                   100.00
Max.Sea.Level.PressureIn        31.08
Mean.Sea.Level.PressureIn       31.01
Min.Sea.Level.PressureIn        30.96
Max.VisibilityMiles             20.00
Mean.VisibilityMiles            20.00
Min.VisibilityMiles             20.00
Max.Wind.SpeedMPH              116.00
Mean.Wind.SpeedMPH              41.00
Max.Gust.SpeedMPH              238.00
CloudCover                       8.00
dtype: float64

In [15]:
df.mean(axis=0, numeric_only=True)

Unnamed: 0                   12314.175651
Max.TemperatureF                60.800366
Mean.TemperatureF               54.122404
Min.TemperatureF                47.294585
Max.Dew.PointF                  48.544707
MeanDew.PointF                  42.541327
Min.DewpointF                   36.382858
Max.Humidity                    84.943689
Mean.Humidity                   67.912989
Min.Humidity                    50.012296
Max.Sea.Level.PressureIn        30.133378
Mean.Sea.Level.PressureIn       30.027763
Min.Sea.Level.PressureIn        29.921826
Max.VisibilityMiles             13.137054
Mean.VisibilityMiles            10.039764
Min.VisibilityMiles              6.306620
Max.Wind.SpeedMPH               19.356759
Mean.Wind.SpeedMPH              11.222068
Max.Gust.SpeedMPH               29.107404
CloudCover                       3.391111
dtype: float64

There is also the `DataFrame.describe()` function that describes the statistics of all columns. Be default, it will provided typical statistics of the numerical columns (mean, standard deviation, min, etc.). In addition, it will provide the quartiles by default. Remember the _median_ is the 50th percentile.

By default it includes all columns, but you can use the `include` and `exclude` parameters to control that based on the type of the column. See [the documentation of this function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) for further details.

In [16]:
df.describe()

,Unnamed: 0,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,Min.Humidity,Max.Sea.Level.PressureIn,Mean.Sea.Level.PressureIn,Min.Sea.Level.PressureIn,Max.VisibilityMiles,Mean.VisibilityMiles,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,CloudCover
count,24560.000000,24560.000000,24558.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24560.000000,24545.000000,24545.000000,24545.000000,24560.000000,24560.000000,9022.000000,21779.000000
mean,12314.175651,60.800366,54.122404,47.294585,48.544707,42.541327,36.382858,84.943689,67.912989,50.012296,30.133378,30.027763,29.921826,13.137054,10.039764,6.306620,19.356759,11.222068,29.107404,3.391111
std,7109.495426,17.521452,16.746317,16.416472,17.195286,18.354939,19.679505,13.307550,15.085798,17.186344,0.209883,0.222490,0.241960,3.696219,3.645553,4.485319,6.165610,4.219577,10.282987,2.899252
min,1.000000,0.000000,4.000000,-2.000000,-11.000000,-16.000000,-31.000000,28.000000,19.000000,7.000000,29.240000,28.890000,28.220000,1.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000
25%,6157.750000,46.000000,41.000000,35.000000,36.000000,29.000000,22.000000,77.000000,56.000000,37.000000,30.000000,29.890000,29.780000,10.000000,8.000000,3.000000,15.000000,8.000000,23.000000,0.000000
50%,12314.500000,62.000000,54.000000,48.000000,50.000000,44.000000,37.000000,89.000000,68.000000,48.000000,30.120000,30.030000,29.930000,15.000000,10.000000,6.000000,18.000000,10.000000,28.000000,3.000000
75%,18470.250000,75.000000,69.000000,62.000000,63.000000,58.000000,53.000000,96.000000,80.000000,62.000000,30.270000,30.170000,30.080000,15.000000,12.000000,10.000000,23.000000,13.000000,33.000000,6.000000
max,24627.000000,103.000000,92.000000,82.000000,81.000000,77.000000,75.000000,100.000000,100.000000,100.000000,31.080000,31.010000,30.960000,20.000000,20.000000,20.000000,116.000000,41.000000,238.000000,8.000000

## Additional Functions

The `DataFrame.transpose()` method returns a new `DataFrame` with the rows and columns flipped.

In [17]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,24550,24551,24552,24553,24554,24555,24556,24557,24558,24559
Unnamed: 0,1,2,3,4,5,6,7,8,9,10,...,24618,24619,24620,24621,24622,24623,24624,24625,24626,24627
Date,1948-07-01,1948-07-02,1948-07-03,1948-07-04,1948-07-05,1948-07-06,1948-07-07,1948-07-08,1948-07-09,1948-07-10,...,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-26,2015-12-27,2015-12-28,2015-12-29,2015-12-30,2015-12-31
Max.TemperatureF,84,82,78,84,93,91,73,84,81,82,...,60,63,69,64,60,63,48,49,51,52
Mean.TemperatureF,78.0,72.0,71.0,76.0,82.0,82.0,66.0,72.0,72.0,73.0,...,56.0,56.0,63.0,58.0,55.0,56.0,42.0,42.0,46.0,48.0
Min.TemperatureF,72,63,64,68,70,72,60,61,64,64,...,52,48,57,52,49,48,35,34,41,43
Max.Dew.PointF,71,62,66,68,74,71,65,62,64,65,...,56,61,64,61,52,58,35,46,48,46
MeanDew.PointF,65,53,58,63,69,68,56,56,59,61,...,53,53,58,57,38,51,25,40,41,38
Min.DewpointF,58,49,53,56,65,64,50,44,57,56,...,48,46,55,51,30,37,19,30,37,27
Max.Humidity,93,76,84,90,93,91,93,93,90,84,...,93,97,100,100,90,96,70,93,93,93
Mean.Humidity,65,51,62,67,71,75,72,63,64,67,...,88,92,91,89,66,82,57,88,85,71
Min.Humidity,46,33,42,38,40,50,44,25,44,39,...,83,86,81,78,41,68,43,83,76,49
Max.Sea.Level.PressureIn,30.07,30.2,30.17,30.13,30.12,29.88,30.08,30.26,30.3,30.26,...,30.12,30.22,30.14,30.25,30.5,30.25,30.55,30.41,30.35,30.1
Mean.Sea.Level.PressureIn,30.01,30.15,30.12,30.1,30.03,29.69,29.88,30.18,30.27,30.2,...,30.02,30.09,30.0,30.17,30.4,29.97,30.41,30.12,30.23,30.06
Min.Sea.Level.PressureIn,29.98,30.08,30.04,30.07,29.89,29.54,29.6,30.1,30.24,30.12,...,29.91,29.87,29.85,30.11,30.26,29.81,30.11,29.91,30.07,30.01
Max.VisibilityMiles,10.0,15.0,15.0,15.0,10.0,10.0,15.0,15.0,10.0,15.0,...,10.0,5.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
Mean.VisibilityMiles,7.0,14.0,10.0,7.0,6.0,6.0,12.0,10.0,8.0,9.0,...,7.0,1.0,6.0,1.0,10.0,6.0,10.0,6.0,9.0,10.0
Min.VisibilityMiles,2.0,10.0,5.0,2.0,3.0,2.0,3.0,2.0,2.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,6.0,1.0,2.0,5.0
Max.Wind.SpeedMPH,16,16,14,12,18,28,22,14,18,18,...,17,25,24,12,21,23,23,24,22,20
Mean.Wind.SpeedMPH,8,10,6,5,8,10,12,8,10,11,...,9,10,11,2,11,12,14,12,7,12
Max.Gust.SpeedMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,33.0,30.0,14.0,26.0,29.0,37.0,30.0,26.0,25.0
PrecipitationIn,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.19,1.16,0.02,0.10,0.01,0.08,0.05,0.66,0.37,0.06
CloudCover,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,8.0,7.0,8.0,8.0,8.0,7.0,8.0,8.0,7.0
Events,Fog,NaN,NaN,Fog,Fog-Rain-Thunderstorm,Rain-Thunderstorm,Rain,Fog,Fog,NaN,...,Rain,Fog-Rain,Fog-Rain,Fog-Rain,Rain,Fog-Rain,Rain-Snow,Rain-Snow,Rain,Rain
WindDirDegrees.br...,264<br />,315<br />,203<br />,198<br />,218<br />,244<br />,29<br />,254<br />,206<br />,208<br />,...,207<br />,119<br />,195<br />,85<br />,54<br />,283<br />,39<br />,28<br />,65<br />,317<br />
city,New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),...,New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA),New York City (USA)
season,Summer,Summer,Summer,Summer,Summer,Summer,Summer,Summer,Summer,Summer,...,Winter,Winter,Winter,Winter,Winter,Winter,Winter,Winter,Winter,Winter

Use the `DataFrame.nlargest()` method to receive `n` rows sorted by the specified `columns`.

In [18]:
# The top 5 hottest, sweatiest days
df.nlargest(5, ['Max.TemperatureF', 'Max.Humidity'],keep='first')

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,city,season
22936,23000,2011-07-22,103,90.0,76,76,74,71,85,63,...,5.0,20,8,25.0,0.00,2.0,NaN,219<br />,New York City (USA),Summer
18631,18683,1999-07-05,102,92.0,81,76,74,70,85,58,...,6.0,16,11,21.0,0.00,3.0,NaN,279<br />,New York City (USA),Summer
22937,23001,2011-07-23,102,91.0,79,75,68,61,85,57,...,5.0,21,8,26.0,0.00,5.0,NaN,258<br />,New York City (USA),Summer
22553,22616,2010-07-04,101,85.0,69,63,56,45,78,47,...,10.0,21,10,26.0,0.00,2.0,NaN,249<br />,New York City (USA),Summer
22555,22618,2010-07-06,101,88.0,75,70,67,64,74,54,...,9.0,16,7,20.0,0.00,1.0,NaN,178<br />,New York City (USA),Summer

The `pandas.to_numeric()` function is useful for converting a column of data that may have been the wrong type initially.

In [19]:
# Cast a single column to numerical values and drop the NaN (not a number) values
# Produces a Series object
mean_precip = pd.to_numeric(df['PrecipitationIn'], errors='coerce').dropna().mean()
print("The mean precipitation over these days in inches:", mean_precip)

# Replace the column in the original DataFrame, instead of having a standalone Series
# Note that the info shows the column is now float64, where it was previously object
df['PrecipitationIn'] = pd.to_numeric(df['PrecipitationIn'], errors='coerce')
df.info()

The mean precipitation over these days in inches: 7.9734566257541095
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24560 entries, 0 to 24559
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 24560 non-null  int64
 1   Date                       24560 non-null  object
 2   Max.TemperatureF           24560 non-null  int64
 3   Mean.TemperatureF          24558 non-null  float64
 4   Min.TemperatureF           24560 non-null  int64
 5   Max.Dew.PointF             24560 non-null  int64
 6   MeanDew.PointF             24560 non-null  int64
 7   Min.DewpointF              24560 non-null  int64
 8   Max.Humidity               24560 non-null  int64
 9   Mean.Humidity              24560 non-null  int64
 10  Min.Humidity               24560 non-null  int64
 11  Max.Sea.Level.PressureIn   24560 non-null  float64
 12  Mean.Sea.Level.PressureIn  24560 non-null  float64
 13  Min.Sea.Level.PressureIn   24560 non-null  float64
 14  Max.VisibilityMiles        24545 non-null  float64
 15  Mean.VisibilityMiles       24545 non-null  float64
 16  Min.VisibilityMiles        24545 non-null  float64
 17  Max.Wind.SpeedMPH          24560 non-null  int64
 18  Mean.Wind.SpeedMPH         24560 non-null  int64
 19  Max.Gust.SpeedMPH          9022 non-null   float64
 20  PrecipitationIn            24035 non-null  float64
 21  CloudCover                 21779 non-null  float64
 22  Events                     11721 non-null  object
 23  WindDirDegrees.br...       24560 non-null  object
 24  city                       24560 non-null  object
 25  season                     24560 non-null  object
dtypes: float64(10), int64(11), object(5)
memory usage: 4.9+ MB

Another thing to try is to create a new column with a "cleaner" version of data from an existing column.

In order to make this cell re-producible, we'll first have to drop the new column by name, if it already exists. This is accomplished by the `DataFrame.drop()` method, and we pass in an `errors` parameter of `'ignore'` so that nothing happens if the column doesn't already exist. Note that this function returns an new `DataFrame` object and does not modify the orignal, so the result has to be assigned to the existing `DataFrame` object.

Next, we create the new clean data in a `Series` object, by grabbing everything before the HTML `<br />` tag. Our data would still be a string after this operation, so we also do a cast operation with `pandas.to_numeric()`. 

Then, we get the numerical index of the orginal column. Our goal here is to insert the new column after the original (instead of just appending it to the end). 

Finally we use the `DataFrame.insert()` operation to actually insert the new column of data.

After all this is done, we can confirm with the `DataFrame.info()` function that a new column with just integer data now exists. Then follow it up with a call to `DataFrame.head()` to inspect the data.

In [65]:
# Drop the column if it exists
new_col_name = 'WindDirDegrees'
old_col_name = 'WindDirDegrees.br...'
df = df.drop([new_col_name], axis=1, errors='ignore')

# Remove the extraneous HTML formatting from the column values
# Then cast all the data to a numerical value
cleaned_wind_degrees = df[old_col_name].map(lambda w: w.split('<br />')[0])
cleaned_wind_degrees = pd.to_numeric(cleaned_wind_degrees, errors='coerce')

# Get the original column number
old_col_location = df.columns.get_loc(old_col_name)

# Add a new column after the original
df.insert(loc=old_col_location+1, column=new_col_name, value=cleaned_wind_degrees)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24560 entries, 0 to 24559
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 24560 non-null  int64
 1   Date                       24560 non-null  object
 2   Max.TemperatureF           24560 non-null  int64
 3   Mean.TemperatureF          24558 non-null  float64
 4   Min.TemperatureF           24560 non-null  int64
 5   Max.Dew.PointF             24560 non-null  int64
 6   MeanDew.PointF             24560 non-null  int64
 7   Min.DewpointF              24560 non-null  int64
 8   Max.Humidity               24560 non-null  int64
 9   Mean.Humidity              24560 non-null  int64
 10  Min.Humidity               24560 non-null  int64
 11  Max.Sea.Level.PressureIn   24560 non-null  float64
 12  Mean.Sea.Level.PressureIn  24560 non-null  float64
 13  Min.Sea.Level.PressureIn   24560 non-null  float64
 14  Max.VisibilityMiles        24545 non-null  float64
 15  Mean.VisibilityMiles       24545 non-null  float64
 16  Min.VisibilityMiles        24545 non-null  float64
 17  Max.Wind.SpeedMPH          24560 non-null  int64
 18  Mean.Wind.SpeedMPH         24560 non-null  int64
 19  Max.Gust.SpeedMPH          9022 non-null   float64
 20  PrecipitationIn            24560 non-null  object
 21  CloudCover                 21779 non-null  float64
 22  Events                     11721 non-null  object
 23  WindDirDegrees.br...       24560 non-null  object
 24  WindDirDegrees             24560 non-null  int64
 25  city                       24560 non-null  object
 26  season                     24560 non-null  object
dtypes: float64(9), int64(12), object(6)
memory usage: 5.1+ MB

In [66]:
df.head(n=4)

,Unnamed: 0,Date,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,...,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees.br...,WindDirDegrees,city,season
0,1,1948-07-01,84,78.0,72,71,65,58,93,65,...,16,8,NaN,0.00,0.0,Fog,264<br />,264,New York City (USA),Summer
1,2,1948-07-02,82,72.0,63,62,53,49,76,51,...,16,10,NaN,0.00,0.0,NaN,315<br />,315,New York City (USA),Summer
2,3,1948-07-03,78,71.0,64,66,58,53,84,62,...,14,6,NaN,0.00,0.0,NaN,203<br />,203,New York City (USA),Summer
3,4,1948-07-04,84,76.0,68,68,63,56,90,67,...,12,5,NaN,0.00,0.0,Fog,198<br />,198,New York City (USA),Summer

## Exporting Data

After creating and manipulating a `DataFrame` it can be useful to export it to other formats to be used in other systems or applications.

To export to JSON, use the `DataFrame.to_json()` method. When exporting to JSON, the output can be either a string or a file (with the `path_or_buf` parameter). Additionally, the format of the output is controlled by the `orient` parameter.

Other useful methods include `DataFrame.to_csv()` and `DataFrame.to_excel()`.

In [20]:
import json

# Write the first 3 rows to a JSON String
json_string = df.head(n=3).to_json(path_or_buf=None, orient='records', date_format='epoch', date_unit='s', indent=2)
print(json_string)

[
  {
    "Unnamed: 0":1,
    "Date":"1948-07-01",
    "Max.TemperatureF":84,
    "Mean.TemperatureF":78.0,
    "Min.TemperatureF":72,
    "Max.Dew.PointF":71,
    "MeanDew.PointF":65,
    "Min.DewpointF":58,
    "Max.Humidity":93,
    "Mean.Humidity":65,
    "Min.Humidity":46,
    "Max.Sea.Level.PressureIn":30.07,
    "Mean.Sea.Level.PressureIn":30.01,
    "Min.Sea.Level.PressureIn":29.98,
    "Max.VisibilityMiles":10.0,
    "Mean.VisibilityMiles":7.0,
    "Min.VisibilityMiles":2.0,
    "Max.Wind.SpeedMPH":16,
    "Mean.Wind.SpeedMPH":8,
    "Max.Gust.SpeedMPH":null,
    "PrecipitationIn":0.0,
    "CloudCover":0.0,
    "Events":"Fog",
    "WindDirDegrees.br...":"264<br \/>",
    "city":"New York City (USA)",
    "season":"Summer"
  },
  {
    "Unnamed: 0":2,
    "Date":"1948-07-02",
    "Max.TemperatureF":82,
    "Mean.TemperatureF":72.0,
    "Min.TemperatureF":63,
    "Max.Dew.PointF":62,
    "MeanDew.PointF":53,
    "Min.DewpointF":49,
    "Max.Humidity":76,
    "Mean.Humidity":51,
    "Min.Humidity":33,
    "Max.Sea.Level.PressureIn":30.2,
    "Mean.Sea.Level.PressureIn":30.15,
    "Min.Sea.Level.PressureIn":30.08,
    "Max.VisibilityMiles":15.0,
    "Mean.VisibilityMiles":14.0,
    "Min.VisibilityMiles":10.0,
    "Max.Wind.SpeedMPH":16,
    "Mean.Wind.SpeedMPH":10,
    "Max.Gust.SpeedMPH":null,
    "PrecipitationIn":0.0,
    "CloudCover":0.0,
    "Events":null,
    "WindDirDegrees.br...":"315<br \/>",
    "city":"New York City (USA)",
    "season":"Summer"
  },
  {
    "Unnamed: 0":3,
    "Date":"1948-07-03",
    "Max.TemperatureF":78,
    "Mean.TemperatureF":71.0,
    "Min.TemperatureF":64,
    "Max.Dew.PointF":66,
    "MeanDew.PointF":58,
    "Min.DewpointF":53,
    "Max.Humidity":84,
    "Mean.Humidity":62,
    "Min.Humidity":42,
    "Max.Sea.Level.PressureIn":30.17,
    "Mean.Sea.Level.PressureIn":30.12,
    "Min.Sea.Level.PressureIn":30.04,
    "Max.VisibilityMiles":15.0,
    "Mean.VisibilityMiles":10.0,
    "Min.VisibilityMiles":5.0,
    "Max.Wind.SpeedMPH":14,
    "Mean.Wind.SpeedMPH":6,
    "Max.Gust.SpeedMPH":null,
    "PrecipitationIn":0.0,
    "CloudCover":0.0,
    "Events":null,
    "WindDirDegrees.br...":"203<br \/>",
    "city":"New York City (USA)",
    "season":"Summer"
  }
]